{% extends 'base.html' %}

{% block title %}
Добавление студента :: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}



<div class="container">
    <span><a href="{% url 'all_students' %}" class="btn btn-primary">Список студентов</a></span>
    <h1>Добавление студента</h1>
    <br>
    <br>
    <form action="{% url 'add_news' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-primary btn-block">Добавить студента</button>
        <br>
    <br>
</form>
</div>



{% endblock %}